/* .text-carousel h6,
.text-carousel h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
}
.text-carousel h2,
.text-carousel h2,
.text-carousel h2 b,
.text-carousel h2 b {
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    font-size: 120px;
    color: #FFF;
    display: block;
    line-height: .7em;
    position: relative;
    
}
.text-carousel p {
    margin-bottom: 0;
}
.carousel-inner {
    width: 104% !important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oliven-nav-toggle {
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .text-carousel h2,
    .text-carousel h2,
    .text-carousel h2 b,
    .text-carousel h2 b {
        font-size: 60px;
        line-height: .7em;
        
    } 
    .oliven-hero {
        width: 200% !important;
    }
    .carousel-inner {
        right: 215px !important;
    }
} */

/* .wedd-shadow {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.025);
} */

.social a {
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #eee;
    color: #888;
    margin-right: 10px;
    font-size: 12px;
}

.social a:hover {
    background-color: #BD945A;
    border-color: #BD945A;
    color: #fff;
}